.recipe-title {
    font-size: 36px;
    font-family: 'Copperplate', fantasy;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-img {
    max-width: 100%;
    max-height: calc(70vh);
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.recipe-detail {
    margin-top: 20px;
    padding: 35px;
}

.recipe-detail .col {
    padding: 25px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    min-height: 70px;
}

.recipe-detail .col p {
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
}

.ingredients {
    margin-top: 30px;
    padding: 10px;
}

.ingredient-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.ingredient-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.ingredient-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
    text-align: left;
}

.card-content h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #343a40;
}

.card-content p {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #6c757d;
}

.steps {
    margin-top: 30px;
    padding: 10px;
}

.step-img {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.step-card {
    padding: 30px; /* Adăugăm padding pe marginea stângă și dreaptă */
}

.step-card .card-content {
    text-align: left;
}

.step-card .card-content p {
    margin: 10px 0; /* Mărim marginul între pași */
}
