.navbar {
    padding: 10px 0;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-brand strong {
    font-weight: bold;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: lightgray;
}
